body {
	background-image: url("https://cdn.wallpapersafari.com/50/14/YvD8Oa.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.card-content.artwork {
  height: 150px;
}

.art-card {
  height: 200px;
  background-size: cover;
  background-position: center;
}

.derek {
  height: 70px;
  width: 150px;
  font-weight: bold;
  margin: 20px;
  bottom: 0;
  right: 0;
  display: inline-block;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  background-color: rgb(230,230,230);
  background-color: rgba(230,230,230,0.3);
  float: right;
}
