body {
	background-image: url("https://cdn.wallpapersafari.com/50/14/YvD8Oa.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.art-card {
  height: 180px;
  background-size: cover;
  background-position: center;
}

.derek {
  height: 40px;
  position: fixed;
  margin: 0 auto;
  bottom: 0%;
  width: 100%;
}
