body {
	background-image: url("https://cdn.wallpapersafari.com/50/14/YvD8Oa.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
